.p1{
    width:200px ;
    height:200px ;
    background:white;
    border:solid white 1px ;
    box-shadow: 0 10px 20px rgba(6, 47, 106, 0.5); 
    text-align: center;
   display: flex;
   flex-direction: column;
   border-radius: 50px;
   
   
}

.button1,.button2,.button3{ 
 
  grid-template-columns: repeat(4, 0fr); 
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left:100px ;
  margin-right:100px ;
  margin-top: 50px;
}


 
 
 .imgCamamedica{
  width: 100px; 
  height: 100px;
  display: block; 
  justify-content: center;
  align-items: center;
 
 }
 
 
 
 .imgdevice{
  width: 100px; 
  height: 100px;
  display: block;
  padding:25% ;

 }  
 
 .sq{
   background-color:#062F6A ;
   width:100%;
   height:200px ;
   
   
 }

 #logo{
   width:200px ;
   height:200px ;
  
   
 }
 p{
  color: #062F6A;
  box-shadow: 0 15px 35px rgba(6, 47, 106, 0.5); 
  font-weight: bold ;
  font-size:20px ;
 }
 #Gover{
  width: 180px; 
 }
 #Medical{
  width: 180px; 
 }
 #Device{
  width: 180px; 

 }
 .fieldset{
  display: block;
  border-width: 5px;
  border-style:initial;
  border-image: initial;
  box-shadow: 10px 10px 100px   #9CD5FB;
  margin-top:20px ;
 width: 80%;
margin-left:100px ;
text-align: left;
}

header {
background-color: #062F6A;
display: flex; 

 
 
}

nav {
text-align: center;
margin-left:40%;
margin-top:50px ;


}

nav ul {
list-style: none;
padding: 30px;

}

nav ul li {
display: inline-block;

}

nav ul li a {
color: #fff;
text-decoration: none;
padding: 10px 15px;

}

nav ul li a:hover {
background-color: #9CD5FB;
}


footer p{
background-color: #333;
color: #ffffff;
text-align: center;
padding: 20px;
grid-column: span 2;
}
#buttonsubmit{
  width:100px ;
  height:25px ;
  color: black;
  border-radius: 10px;
  border:black 2px;
  font-weight: bold;
  background-color: #9CD5FB;

}
 
.buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#buttons{
margin: 30px;
 width: 150px; 
 height: 60px;
 border-radius: 30px;
 border: none;
 background-color: #9CD5FB;
margin-left: 45%;
font-weight: bold ;

}
.table td{
  width: 800px;
  font-size: 25px;
  
}
.table{
margin-left: 50px;
  margin-right: 50px;
}
.Governorates { 
  display: flex;
  
}
.Governorates1{
  display: flex;
 flex-direction: column;
 margin-right: 40%;
 text-align: center;
 
 
}
.Governorates2{
  display: flex;
 flex-direction: column;
 text-align: center;}
 
 .Governorates1 input{
  margin-top: 80px;
  width: 250px;
  height:90px ;
  margin-left: 80%;
  font-size:20px ;
  color:#062F6A;
  text-shadow: #9CD5FB 100px;
  font-weight: bold;
  border-color:#9CD5FB ;
border-radius: 30px;
text-shadow: 2px 2px 4px rgba(156, 213, 251, 10);

  
}

 .Governorates2 input{
  margin-top: 80px;
  width: 250px;
  height:90px ;
  margin-right: 30%;
  font-size:20px ;
  font-weight: bold;
  color:#062F6A;
  border-color:#9CD5FB ;
  border-radius: 30px;
  text-shadow: 2px 2px 4px rgba(156, 213, 251, 10);
  


}
.famman{
  border: black 2px;
  box-shadow:#062F6A;
  margin:50px

}

  .dd{
    display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 20 0px;
  }
  .d{
    display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
  #Request{
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color:  #9CD5FB;
    border: 2px solid #062F6A;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #062F6A;
    transition: all 0.3s ease;
    cursor: pointer;
  
  }
  
  #Request:hover {
    background-color: #062F6A;
    color: #ffffff;
    border: 2px solid  #062F6A;;
    box-shadow: 5px 5px 0px #000000;
  }
  
  #Request:active {
    background-color: #9CD5FB;
    box-shadow: none;
    transform: translateY(1px);
  }
  a{
    text-decoration: none;

  }
  #nemetype{
    font-size: 25px;
    font-weight: bolder;
  }

